<div class="logIn">
  <label for="inputPassword">Enter your password</label><br/>
  <input id="inputPassword" type="password" placeholder="password" name="inputPassword" [(ngModel)]="userPassword">
  <button (click)="toToggleForm()" [disabled]="checkPassword()">Open form</button>
<hr/>
  <app-form *ngIf="showForm"></app-form>
</div>
