<form>
  <input placeholder="Image title" name="titleInput" [(ngModel)]="titleInput"><br/>
  <br/>
  <input placeholder="Image URL" name="urlInput" [(ngModel)]="urlInput"><br/>
  <br/>
  <button (click)="addImageToPage($event)" [disabled]="chekIsNotEmpty()">Add image</button>
  <hr/>
  <div class="box">
  <app-image-item
    *ngFor="let image of images"
    [title]="image.titleImage"
    [url]="image.urlImage"></app-image-item>
  </div>
</form>
