.round{
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 4px 20px 7px rgba(138, 0, 196, 0.69) inset;
  font-size: 28px;
  font-weight: bold;
}

.btn {
  display: block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
    0 6px rgb(86,38,6),
    0 3px 15px rgba(0,0,0,.4),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
  margin-bottom: 20px;
}
.btn:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.btn:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
    0 2px rgb(86,38,6),
    0 1px 6px rgba(0,0,0,.4),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 0 3px rgba(255,255,255,.5);
  transform: translate(0, 4px);
}
